@import "./config/_general"

body
  padding-top: 5rem  

.navbar-brand
  img
    width: 100%
    max-width: 7rem

footer
  min-height: 2rem
  padding: 2rem
  background-color: $color-primary
  margin-top: 2rem

#root-content
  box-sizing: border-box
  padding-top: 2rem
  padding-bottom: 2rem

.link-powered
  color: #fff !important

#root-content
  min-height: 80.5%